<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
<!--    Admin : Admin-->
</head>
<body>
<h1>로그인</h1>
<form action="/login-process" method="post">
    <div>
        <label for="userId">사용자 ID:</label>
        <input type="text" id="userId" name="userId" required>
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
</form>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${message}]]*/ 'null';
    var logSuccess = /*[[${logSuccess}]]*/ false;
    if(logSuccess && message != 'null' && message != null) {
        alert(message);
    }
    /*]]>*/
</script>
</html>
